*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

body{
    background-color: #ededed
    color: #ededed;
}
/* This section is nav bar  */
.nav-ul {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    margin: 100;
    padding: 20px 10px ;
    width: 100%;
    background: #080808;
    display: flex;
    justify-content:right;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
    font-weight: 800;
}

/* This is section for home */
#Home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    background-color: #080808;
}

.Home-content{
    max-width: 600px;
}

.Home-content h1{
    font-size: 50px;
    font-weight: 700;
    color: #ededed;
}

.Home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;

}

.Home-content p{
    font-size: 16px;
    color: #ededed;
}
/* This is About Me section */
.About-content p{
    text-align: justify;
    padding-left: 20px;
    margin-bottom: 0;
    line-height: 2;
    font-size: 20px;

}

.About-content h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
    color: #080808;
    text-decoration: underline solid;
}
.form-title{
    text-align: center;
    font-size: 30px;
}

.profile-img{
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 30px;
    width: 200px;
    height: 300px;
    object-fit:cover;
    align-items: center;

}

/* Contact section */
h2{}
.contact{
    border: 2px solid #080808;
    margin-top: 40px;
    width: 40%;
    background-color: #00abf0;
    color: #00abf0;
}

.form-field{
    padding: 40px;
    align-items: center;

}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ededed;
    background-color: #ededed;
    color: whitesmoke;
}

.btn{
    background-color: #080808;
    border: none;
    color: white;
    padding: 15px 15px;
    font-size: 12px;
}

.btn:hover{
    background-color: #ededed;
    color: #080808;
    font-size: 20px;
    transition: 2s;
}

/* Social Media Handles */
footer {
    background-color: #080808;
    color: #ededed;
    text-align: center;
    padding: 20px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #ededed;
    font-size: 20px;
    text-decoration: none;
}
.linkedin::before {
    content: '\f08c';
    font: var(--fa-font-brands);
}

.github::before {
    content: '\f092';
    font: var(--fa-font-brands);
}

